<%= form_with(model: skate_park) do |form| %>
  <% if skate_park.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(skate_park.errors.count, "error") %> prohibited this skate_park from being saved:</h2>

      <ul>
        <% skate_park.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_field :description %>
  </div>

  <div>
    <%= form.label :text, style: "display: block" %>
    <%= form.text_field :text %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
